<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Login</title>
</head>
<body>
<h1 th:text="${pageTitle}">Tela de Login</h1>

<form method="post" th:action="@{/login}" th:object="${user}">
    <label for="username">Usuário</label>
    <input id="username" th:field="*{username}" type="text" placeholder="Seu usuário" />

    <label for="password">Senha</label>
    <input id="password" th:field="*{password}" type="password" placeholder="Sua senha" />

    <button type="submit">Entrar</button>
</form>

<p><a th:href="@{/}">Voltar ao painel</a></p>
</body>
</html>
